.img_p{
	text-align:center;animation-duration:1s;color:#ffffff;font-size:x-large;margin-top:-35%;
}
.listRow_btn{
	font-size:large;color:#ffffff;display:inline-block;width:30px;height:30px;background-color:blue;border-radius:6px;line-height:30px;
}
.btn{
	padding:4px 12px;
}
